{%- extends 'layouts/generic.html' %}

{% block title -%}Laboratory Tests{%- endblock %}

{% block description -%}Laboratory test for asthma{%- endblock %}

{% block content -%}
<h3><a href="https://labtestsonline.org/understanding/analytes/allergy" style="color: red"> Blood testing for allergic sensitivity</a></h3><h4>Blood tests that are specific for the allergen(s) suspected to be causing symptoms, such as dust mites, mold, pet dander, and pollens; may be ordered to help determine asthma triggers.</h4>
<p><h3><a href="https://labtestsonline.org/understanding/analytes/blood-gases" style="color: red;"> Blood gases</a></h3><h4>An arterial blood sample is collected to evaluate blood pH, oxygen, and carbon dioxide; may be ordered when a person is having an asthma attack.</h4></p>

<p><h3><a href="https://labtestsonline.org/understanding/analytes/cbc" style="color: red"> CBC (complete blood count)</a></h3><h4>To evaluate blood cells and provide information on infection and inflammation</h4></p>

<p><h3><a href="https://labtestsonline.org/understanding/analytes/cbc" style="color: red"> CMP (comprehensive metabolic panel)</a></h3><h4>To evaluate organ function</h4></p>

<p><h3><a href="https://labtestsonline.org/understanding/analytes/therapeutic-drug" style="color: red"> Theophylline – therapeutic drug monitoring</a></h3><h4>If an individual with asthma is taking this medication
A healthcare practitioner will consider the results of the general tests, medical history, family history, and risk factors for certain diseases as well as the results of a physical examination. Based on these findings, some additional laboratory tests could be done.</h4></p>

<center><a href="https://labtestsonline.org/conditions/asthma#" style="color: red">Read more...</a></center>

{%- endblock %}