{%- extends 'layouts/generic.html' %}

{% block title -%}Laboratory Tests{%- endblock %}

{% block description -%}Laboratory test for covid-19{%- endblock %}

{% block content -%}

<p><h4>COVID-19 is the name of the infection and illness caused by the new strain of coronavirus called SARS-CoV-2. One type of COVID-19 test detects the genetic material (RNA) of the virus in a sample from the respiratory tract. COVID-19 serology blood tests detect antibodies produced in response to the infection. COVID-19 antigen tests detect viral protein in respiratory samples, but these tests are not in widespread use yet..The initial signs and symptoms of COVID-19 are frequently difficult to distinguish from those of a common cold or of other respiratory illnesses, so testing is necessary to help diagnose a current or past infection.</h4></p>
<p><center><h3>Reverse Transcription Polymerase chain reaction (RT-PCR)</h3></center></p>
<p><h4>Most tests to check for current SARS-CoV-2 infection rely on RT-PCR testing to detect the virus's RNA in a respiratory tract sample from a patient. PCR is a laboratory method used for making a very large number of copies of short sections of DNA from a very small sample of DNA so that it can be detected. This process is called "amplifying" the DNA. (See the article on PCR for more details.) The reverse transcription step allows the viral RNA to be converted into DNA so that the PCR technique can be used.</h4></p>
<p><center><h3>Blood Test for Antibodies (Total, IgG, IgM) to SARS-CoV-2 (Serology) </h3></center></p>
<p><h4>These tests detect antibodies produced by the body's immune system in response to SARS-CoV-2. COVID-19 serology tests can tell whether or not you have had the viral infection in the past. However, antibody tests are not the preferred tests to diagnose current infections. Antibodies don’t show up for about 1 to 2 weeks after you first become sick so antibody tests could miss some early infections. Some rapid antibody tests (also referred to as Rapid Detection Tests or RDTs) have been developed. These typically use a blood sample from a finger prick to show positive or negative results. (For more general information on antibodies, also called immunoglobulins, see the article on Immunoglobulins.)</h4></p>
<center><a href="https://labtestsonline.org/tests/coronavirus-covid-19-testing" style="color: red">Read more</a></center>


{%- endblock %}